.navbar-transparent {
  background: transparent !important; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa; }

input, .btn {
  font-family: "Montserrat", sans-serif; }

a, a:hover, a:active, a:visited {
  color: white; }

.navbar-black {
  background: black !important; }

.navbar-brand, .nav-link {
  color: white !important; }

.navbar-brand {
  color: white !important; }

.app-search {
  position: absolute;
  margin: 0px;
  z-index: 110;
  width: 100%;
  top: 55px;
  left: 0px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); }
  .app-search input {
    height: 0;
    border-radius: 0px;
    font-size: 17px;
    width: 0;
    padding: 0;
    transition: all 0.15s ease-in, padding 0.3s ease-in; }
  .app-search .input-visible {
    height: auto;
    padding: 15px 20px;
    width: 100%; }

.main-search {
  position: relative;
  top: 0px; }

.srh-btn {
  display: none;
  position: absolute;
  top: 13px;
  cursor: pointer;
  background: #ffffff;
  width: 15px;
  height: 15px;
  right: 20px;
  font-size: 14px; }

.background {
  background: no-repeat center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://images.pexels.com/photos/305832/pexels-photo-305832.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

.btn {
  padding: 10px 15px !important;
  border-color: #ae9a65;
  background-color: #ae9a65;
  color: white;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); }

.btn:hover {
  border-color: #927d47 !important;
  background-color: #927d47; }

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important; }

.header {
  text-align: center;
  color: white;
  margin-bottom: 200px; }
  .header .heading-content {
    padding: 115px 0 100px; }
    .header .heading-content h1 {
      padding: 20px 0;
      font-size: 55px;
      text-shadow: 0px 0px 10px #000000; }
      @media screen and (max-width: 992px) {
        .header .heading-content h1 {
          font-size: 45px; } }
    .header .heading-content .btn-search {
      margin: 10px;
      position: absolute;
      top: -4px;
      right: 0; }

footer {
  text-align: center;
  color: white; }

.none-margin {
  margin: 0; }

.copyright {
  color: #999 !important; }

.main h2 {
  padding-top: 20px;
  font-weight: 500; }

.item-header {
  display: block-inline;
  float: left; }

img {
  width: 100%; }

.img-wrap {
  margin-top: 5px;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative; }
  .img-wrap img {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover; }

@media screen and (max-width: 767px) {
  .review {
    margin: 10px 0; } }

.review-text {
  padding-left: 0 !important; }

.item-content {
  padding-top: 10px;
  width: 100%;
  margin: 0; }

.catogory-wrap {
  display: block;
  float: right; }

.catogory {
  display: inline-block;
  background-color: #ae9a65;
  padding: 3px 10px;
  font-size: 75%;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 5px 2px; }

.name, .name:hover, .name:active, .name:visited {
  color: #333;
  font-weight: 400;
  font-size: 24px; }

.dark-text, .dark-text:hover, .dark-text:active, .dark-text:visited {
  color: #333; }

.isClose {
  font-size: 12px;
  color: #99abb4; }

.status {
  margin: 10px 0px; }
  .status span {
    margin: 0 5px; }

/*# sourceMappingURL=index.css.map */
